* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
html {
  font-size: 100%;
}
body {
  color: #333;
  margin: 0;
  font-family: "Times New Roman", serif;
}
.main-visual {
  height: 450px;
  width: auto;
  align-items: stretch;
  object-fit: cover;
}
header {
  display: flex;
  margin: 20px 0 40px 20px;
  align-items: center;
}
header .head {
  font-size: 0.9rem;
  margin: 0;
  font-weight: bold;
}
header .btns {
  display: flex;
  gap: 30px;
  margin-left: 50px;
}
header a {
  text-decoration: none;
  color: #333;
  font-size: 0.8rem;
  margin: 0;
}
#concept img,
#work img {
  display: block;
  width: calc(100% - 40px);
  margin: 50px auto 0;
  object-fit: contain;
}
.title {
  font-size: 1.25rem;
  margin-top: 10px;
}
.contents {
  width: calc(100% - 40px);
  margin: 0 auto 50px auto;
}
.sub-title {
  margin-bottom: 20px;
  font-size: 1.1rem;
}
.contents p {
  margin: 0;
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 40px);
  margin: 0 auto;
}
footer .left {
  font-weight: bold;
}
footer .right {
  font-size: 0.8rem;
}
@media (min-width: 768px) {
  .main-visual {
    width: 90vw;
    height: auto;
    margin: 2vw auto;
    display: block;
    object-fit: contain;
  }
  header {
    display: flex;
    align-items: center;
    margin: 3vw 0 0 5vw;
  }
  .main {
    width: 95%;
    margin: 0 auto;
  }
  #concept {
    display: flex;
    gap: 8%;
    margin: 5% 0;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
  }
  #work {
    display: flex;
    gap: 8%;
    margin: 5% 0;
    align-items: center;
    flex-direction: row-reverse;
  }
  #concept .contents,
  #work .contents {
    margin: 0;
  }
  #work .contents {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  #work .contents .sub-title {
    width: 90%;
    text-align: left;
  }
  #concept img,
  #work img {
    width: 50%;
    margin: 0;
  }
  .contents .title {
    width: 90%;
    font-size: 1.5rem;
    margin-top: 0;
  }
  .contents p {
    width: 90%;
  }
  footer {
    width: 95%;
  }
}
